*{
	font-family: cursive;
	text-decoration: none;
}
.header{
	width: 95%;
	margin-left: 3%;
	height: 100px;
	background-color: rgb(17, 17, 243);


}
.navbar{
  width: 100%;

}
.navbar ul{
	display: flex;
	list-style: none;
}
.navbar ul li{
	margin-left: 2%;
	font-size: 25px;
	margin-top: 50px;

}
.submenu a{
	text-align: center;
	font-size: 20px;
}
.navbar ul li a{
	padding: 15px;
	color: white;
}
.navbar ul li .submenu ul{
	display: block;
	
}
.navbar ul li .submenu ul li{
	display: none;
	margin-left: -25px;
	margin-top: 5px;
}
.submenu ul li{
	width: auto;
}

.navbar ul li:hover .submenu ul li{
	display: block;
	width: 25px;
}
.submenu ul{
	width: 110%;
	background-color: rgb(17, 17, 243);
}
.content{
	width: 95%;
	height: auto;
	margin-left: 3%;
	border-radius: 20px;
}
input[type="text"], input[type="number"], input[type="email"], input[type="password"], input[type="date"]{
	width: 25%;
	height: 20px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid rgb(17, 17, 243);
}
input[type='submit']{
    border-top: 2px solid rgb(17, 17, 243);
	border-left: 2px solid rgb(17, 17, 243);
	border-right: 2px solid rgb(17, 17, 243);
	border-bottom: 2px solid rgb(17, 17, 243);	
}
select{
	width: 25%;
	height: 20px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid rgb(17, 17, 243);
}
table{
	border-collapse: collapse;
}
.address{
	width: 30%;
	height: 638px ;
	margin-left: 5%;
	border: solid rgb(17, 17, 243) 2px;
	border-radius: 20px;
	margin-top: 2px;
	font-size: 20px;
	background-color: black;
	color: white;
}
.card{
	width: 30%;
	height:auto;
	color:black;
	box-shadow: 4px 0px 4px 0px;
	background-color:#feefb9;
	border-radius: 40px;
	margin-left: 60px;

}
.card input{
	color: black;
	border-left: none;
	border-right: none;
	border-top: none;
	font-size: 14px;
	border-bottom: 2px solid black;
	background: transparent;
		}
.footer{
	width: 100%;
	height: 60px;
}
.footer hr{
	background-color: rgb(17, 17, 243);
	height: 4px;
	width: 80%;
	display: fixed;

}